* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
}

.container-left {
  background-color: #FAFBFD;
  width: auto;
  padding: 20px;
}

.container-right {
  margin-left: 50px;
  padding: 30px;
  width: 100%;
}

.row {
  margin-top: 20px;
}

.title-nav {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10rem;
}

.title-nav b {
  color: #F7542E;
}

ul {
  list-style: none;
  line-height: 50px;
}

a {
  text-decoration: none;
  color: #9E9E9E;
}

a:hover {
  color: black;
  font-weight: 600;
}

.nav .link-active {
  color: black;
  font-weight: 600;
}

h1 {
  color: #4F4F4F;
  font-size: 1.8rem;
  font-weight: 600;
}

.credit {
  margin-top: 40px;
  opacity: 0.5;
}